#park-name {
  font-size: 28px;
  color: white;
  font-family: Arial;
}

.runs {
  border: 3px solid white;
}

body {
  background-color: white;
}

table {
  background-color: rgb(50, 100, 85);
  width: 432px;
  height: 152px;
}

.table-elements {
  text-align: left;
}
