#park-name {
  font-size: 28px;
  color: white;
  font-family: Arial;
}

.inning-headers {
  font-size: 12px;
  color: white;
  font-weight: bold;
}

.inning-scores {
  font-size: 12px;
  color: white;
  font-weight: normal;
}

.team-names {
  font-size: 12px;
  color: white !important;
  font-weight: bold;
}

.runs {
  border: 3px solid white !important;
  font-size: 12px;
  color: white;
  font-weight: normal;
}

.away td {
  border: 3px solid black;
  text-align: center;
}

.home td {
  border: 3px solid black;
  text-align: center;
}
body {
  background-color: white;
}

#scoreboard {
  background-color: rgb(50, 100, 85);
  width: 432px;
  height: 152px;
  font-family: Arial;
}

#cc {
  background-color: black;
  width: 263px;
  height: 162px;
}

#cc-name {
  font-family: Arial;
  color: white;
  font-size: 28px;
}

#who {
  font-family: Arial;
  color: white;
  font-size: 16px;
}

#runs-toggle {
  font-family: Arial;
  color: white;
  font-size: 16px;
}

#inning-toggle {
  font-family: Arial;
  color: white;
  font-size: 16px;
}

#sound {
  font-family: Arial;
  color: white;
  font-size: 16px;
}
.table-elements {
  text-align: left;
}
