h1 {
  font-size: 28px;
  color: white;
  font-family: Arial;
}

body {
  background-color: lightblue;
}

table {
  background-color: rgb(50, 100, 85);
  width: 432px;
  height: 152px;
}

.table-elements {
  text-align: left;
}
